html {
	font-family: 'Raleway', 'Helvetica', 'Arial', sans-serif;
}
body {
	margin: auto;
	position: relative;
	width: 3000px;
  /*width: 960px;*/
}

button {
	position: absolute;
	right: 10px;
	top: 10px;
}


.popup {
	background-color: black;
	color: white;
	opacity: .65;
	position: absolute;
	display: none;
	padding: 5px;
	font-size: 10pt;
	font-weight: 300;
	text-align: right;

	-webkit-box-shadow: 0px 0px 2px 0px #000; /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
			box-shadow: 0px 0px 2px 0px #000; /* Opera 10.5, IE9+, Firefox 4+, Chrome 6+, iOS 5 */
}

.popup .artist {
	text-align: center;
	/*flex-direction: column-reverse;*/
}

.storyPopup {
	position: absolute;
}

#info {
	height: 100px;
	width: 100%;
	font-size: 10pt;
	margin: 10px 0 0 5px;
}

.axis {
	text-align: center;
	width: 3500px;
	height: 15px;
}

#month-axis {
	font-size: 10pt;
}

#month-axis div {
	float: left;
}

#year-axis div {
	font-size: 12pt;
	float: left;
}


